<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="boolean">
            <name>warning</name>
            <label lang="de">Warnungen ausblenden</label>
            <label lang="en">Hide warnings</label>
            <value>false</value>
            <description lang="de">Hier werden die Warnungen ausgeblendet</description>
            <description lang="en">Hopefully this text will help you.</description>
        </element>
        <element type="combo">
            <name>Users</name>
            <label lang="de">Für folgende Benutzer sperren</label>
            <store>Shopware.apps.Base.store.User</store>
            <options>
                <multiSelect>true</multiSelect>
            </options>
        </element>
    </elements>
</config>
